
 body {
     text-align:center;
     margin:0px;
     padding:0px;
     font-family:Arial;
     background-image:url('../img/pattern-home.jpg') ;
 }

 img{border:0px;}
 a{text-decoration:none;}
 *{text-align:left;}

 /* MAIN-UP */
 #main-elaqe{
     margin:0 auto;
     width:1262px;
     text-align:left;

 }


 /* HEAD */
 #head-elaqe{
     float:left;
     width:1082px;
     height:57px;
     padding:31px 0px 32px;
     margin:18px 0 50px 93px;
     background-color:#fafafa;
     border-radius:70px;
     -moz-border-radius: 70px;
     -webkit-border-radius:70px;
 }

 /* LOGO */
 #logo{
     float:left;
     width:160px;
     height:57px;
     margin-left:45px;
     margin-right:135px;
     background-image:url(../img/logo.png);
     background-repeat:no-repeat;
 }

 /* HOME */
 #home{
     float:left;
     width:42px;
     height:42px;
     margin-top:6px;
     overflow:hidden;
     /*display:block;*/
 }

 #home:hover img{
     margin-top:-42px;
 }


 /* MENU_UP */
 #menu_up{
     float:left;
     margin-top:7px;
     margin-left:10px;
 }

 ul{
     margin:0px;
     padding:0px;
 }

 #menu_up ul li{
     float:left;
     list-style:none;
     padding: 0 2px;
     background-image:url(../img/menu-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;

 }

 #menu_up #menu-last{background-image:none;}

 #menu_up ul li:hover{
     color:#fff;
     background-color:#da4a4a;

 }

 #menu_up ul li:hover a{color:#fff;}

 #menu_up ul li a{
     padding:11px 13px 7px 13px;
     text-decoration:none;
     color:#231f20;
     font-family:Arial;
     display:block;
 }

 #menu_up ul li a:hover{color:#fff;}

 #menu_up ul li .submenu{
     display:none;
     position:absolute;
     top: 93px;
     height:32px;
     width:378px;
     background-color:#da4a4a;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #menu_up ul li .submenu li{float:left;}

 #menu_up ul li .submenu li a{
     font-family:Tahoma;
     font-size:11px;
     padding:11px 6px 7px 8px;
 }

 #menu_up ul li .submenu li a:hover{text-decoration:underline;}


 #menu_up li:hover .submenu {
     display:block;
 }

 /*  DIL  */
 #lang {
     float:left;
     width:40px;
     height: 16px;
     overflow:hidden;
     margin-left: 75px;
     margin-top: 17px;
     padding: 4px 10px 3px;
     background-color:#a7a7a7;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #select-lang{
     float:left;
     width:10px;
     height:11px;
     display:block;
     cursor:pointer;
     background-image:url(../img/lang-select.png);
     background-repeat:no-repeat;
     background-position:center;
 }

 #lang ul{width:30px;float:left;}

 #lang ul li{
     list-style:none;
 }

 #lang ul li a{
     text-decoration:none;
     text-align:left;
     color:#f0f0f0;
     text-transform:uppercase;
     font-family:Arial;
     font-size:12px;
     margin-top:0px;
     display:block;
     line-height:16px;
 }

 #lang ul li a:hover{
     color:#fff;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }





 .both{clear:both;}


 /* MIDDLE */
 #middle-elaqe{
     margin:0px auto;
     width:1262px;
     height:709px;
     background-image:url('../img/map.png');
     background-repeat:no-repeat;
 }


 /* CONTENT */
 #content-elaqe,#elaqe-info,#red,#red-bottom,.icons,.infos,.infos span,#elaqe-form{float:left;}

 #content-elaqe{
     width:527px;
     height:697px;
     margin-left:138px;
     color:#575757;
     background-color:#fff;
     border-top:6px solid #c5c5c5;
     border-bottom:6px solid #c5c5c5;
     opacity:0.9;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
     -khtml-opacity: 0.90;
     -moz-opacity: 0.90;
     opacity: 0.90;
 }

 #red,input,textarea,#elaqe-facebook{
     opacity:1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     -khtml-opacity: 1;
     -moz-opacity: 1;
     opacity: 1;
 }

 #elaqe-info{
     width:410px;
     padding:25px 58px;

 }

 #red,#red-bottom{margin:0px;}

 #red{
     margin-right:200px;
     padding:3px 10px 5px;
     text-transform:uppercase;
     width:178px;
     color:#eaeaea;
     background-color:#da4a4a;
     font-size:15px;
     font-family:Calibri,Arial;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 #red-bottom{
     width:400px;
     height:4px;
     margin-bottom:20px;
     background-image:url('../img/red-bottom.png');
     background-repeat:no-repeat;
     background-position:center left;
 }

 .icons{
     height: 13px;
     margin-right: 11px;
     margin-top: -1px;
 }

 .infos{
     width:390px;
     padding-bottom:7px;
 }

 .infos a{
     color:#575757;
     font-family:Arial;
     font-size:12px;
 }

 .infos span{
     font-family:Arial;
     font-size:12px;
     line-height:14px;
 }

 .infos a span{line-height:12px;text-decoration:underline;}


 #elaqe-form{
     width:410px;
     padding:16px 0;
     margin:0 58px;
     border-top:1px solid #c5c5c5;
     border-bottom:1px solid #c5c5c5;
 }

 form{padding:0px;margin:0px;}

 #elaqe-form #submit{
     font-family:Calibri;
     font-size:12px;
     font-weight:bold;
     margin-top:7px;
     padding:3px 5px;
 }

 #elaqe-form p{margin:3px;}

 input,textarea{
     margin:0px;
     font-family:Tahoma;
     font-size:12px;
     padding:5px;
 }

 #elaqe-facebook{
     float:left;
     width:410px;
     margin: 25px 58px;
     border:1px solid #aaa;
     border-top:1px solid #315c99;

 }

 #elaqe-facebook-title{
     float:left;
     width:300px;
     padding:10px 10px 5px;

 }

 #elaqe-facebook-title img{float:left;padding-right:10px;}

 #elaqe-facebook-title #elaqe-fb-title-l1{
     float:left;
     font-size:12px;
     font-weight:bold;
     height:15px;
     padding-right:3px;
 }
 #elaqe-facebook-title #elaqe-fb-title-l2{
     line-height:16px;
 }

 #elaqe-facebook-title a{
     float:left;
     color:#3b5998;
     font-family:Arial;
     font-size:11px;
 }

 #i-liked{
     float:left;
     margin:5px 5px 0px 0px;
     font-family:Arial;
     font-size:11px;
     padding:5px 5px 5px 20px;
     background-color:#eee;
     border:1px solid #ddd;
     background-image:url(../img/i-like.png);
     background-position:center left;
     background-repeat:no-repeat;
     border-radius:4px;
     -moz-border-radius:4px;
     -webkit-border-radius:4px;
 }

 #elaqe-facebook-title span{
     float:left;
     color:#000;
     font-family:Arial;
     font-size:11px;
     line-height:35px;
 }

 #elaqe-facebook-like{
     float:left;
     width:400px;
     border-top:1px solid #d8dfea;
     margin-left:5px;
 }

 #elaqe-facebook-like span{
     color:#000;
     font-family:Tahoma;
     font-size:11px;
     margin:5px 170px 5px 5px;
     width:300px;
 }

 #elaqe-facebook-like a{
     width:50px;
     float:left;
     margin-right:5px;
     font-family:Tahoma;
     font-size:10px;
     color:#808080;
     text-align:center;
 }

 #elaqe-facebook-like a img{margin-top:3px;}

 #elaqe-faceook-footer,#elaqe-faceook-footer img,#elaqe-faceook-footer span{float:left;}

 #elaqe-faceook-footer{
     margin-left:5px;
     margin-top:7px;
     border-top:1px solid #ccc;
     padding: 4px 0px 5px 5px;
     width: 395px;
     font-size:10px;
     color:#808080;
 }

 #elaqe-faceook-footer span{
     padding-left:5px;
 }














 /* FOOTER */
 #footer{
     float:left;
     font-family:Arial;
     font-size:12px;
     margin:20px 0px 15px 126px;
     width:980px;
     height:10px;
     text-align:left;
     padding:11px 0px 11px 21px;
     background-color:#fff;
     line-height:8px;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 #footer img{float:right;}

