
 body {
     margin:0px;
     padding:0px;
     font-family:Arial;
     background-image:url('../img/pattern-home.jpg') ;
 }

 img{border:0px;}
 a{text-decoration:none;}


 /* MAIN */
 #main{
     margin:0 auto;
     width:1086px;
     text-align:left;
 }

 /* HEAD */
 #head-struktur{
     float:left;
     width:1082px;
     height:57px;
     padding:31px 0px 32px;
     margin:18px 0 25px 0px;
     background-color:#fafafa;
     border-radius:70px;
     -moz-border-radius: 70px;
     -webkit-border-radius:70px;
 }

 /* LOGO */
 #logo{
     float:left;
     width:160px;
     height:57px;
     margin-left:45px;
     margin-right:135px;
     background-image:url(../img/logo.png);
     background-repeat:no-repeat;
 }

 /* HOME */
 #home{
     float:left;
     width:42px;
     height:42px;
     margin-top:6px;
     overflow:hidden;
     /*display:block;*/
 }

 #home:hover img{
     margin-top:-42px;
 }


 /* MENU_UP */
 #menu_up{
     float:left;
     margin-top:7px;
     margin-left:10px;
 }

 ul{
     margin:0px;
     padding:0px;
 }

 #menu_up ul li{
     float:left;
     list-style:none;
     padding: 0 2px;
     background-image:url(../img/menu-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;

 }

 #menu_up #menu-last{background-image:none;}

 #menu_up ul li:hover{
     color:#fff;
     background-color:#da4a4a;

 }

  #menu_up ul li:hover a{color:#fff;}


 #menu_up ul li a{
     padding:11px 13px 7px 13px;
     text-decoration:none;
     color:#231f20;
     font-family:Arial;
     display:block;
 }

 #menu_up ul li a:hover{color:#fff;display:block;}

 #menu_up ul li .submenu{
     float:left;
     display:none;
     position:absolute;
     top: 93px;
     background-color:#da4a4a;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #menu_up ul li .submenu li{float:left;}

 #menu_up ul li .submenu li a{
     font-family:Tahoma;
     font-size:11px;
     color:#fff;
     padding:11px 6px 7px 8px;
 }

 #menu_up ul li ul li a:hover{text-decoration:underline;display:block;}
 #menu_up ul li ul li:hover{display:block;}


 #menu_up li:hover .submenu {
     display:block;
 }


 /*  DIL  */
 #lang {
     float:left;
     width:40px;
     height: 16px;
     overflow:hidden;
     margin-left: 75px;
     margin-top: 17px;
     padding: 4px 10px 3px;
     background-color:#a7a7a7;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #select-lang{
     float:left;
     width:10px;
     height:11px;
     display:block;
     cursor:pointer;
     background-image:url(../img/lang-select.png);
     background-repeat:no-repeat;
     background-position:center;
 }

 #lang ul{width:30px;float:left;}

 #lang ul li{
     list-style:none;
 }

 #lang ul li a{
     text-decoration:none;
     text-align:left;
     color:#f0f0f0;
     text-transform:uppercase;
     font-family:Arial;
     font-size:12px;
     margin-top:0px;
     display:block;
     line-height:16px;
 }

 #lang ul li a:hover{
     color:#fff;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }



 /*  DIL  */
 #lang {
     float:left;
     width:40px;
     height: 16px;
     overflow:hidden;
     margin-left: 75px;
     margin-top: 17px;
     padding: 4px 10px 3px;
     background-color:#a7a7a7;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #select-lang{
     float:left;
     width:10px;
     height:11px;
     display:block;
     cursor:pointer;
     background-image:url(../img/lang-select.png);
     background-repeat:no-repeat;
     background-position:center;
 }

 #lang ul{width:30px;float:left;}

 #lang ul li{
     list-style:none;
 }

 #lang ul li a{
     text-decoration:none;
     text-align:left;
     color:#f0f0f0;
     text-transform:uppercase;
     font-family:Arial;
     font-size:12px;
     margin-top:0px;
     display:block;
     line-height:16px;
 }

 #lang ul li a:hover{
     color:#fff;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }






 /* MIDDLE */
 #middle-struktur{
     float:left;
     margin-left:48px;
     margin-top:0px;
     width:980px;
 }


 #content-struktur,#content-struktur img{float:left;}

 /* MIDDLE_CONTENT */
 #content-struktur{
     width:710px;
     padding-bottom:20px;
     color:#383838;
     margin-right:30px;
 }

 #content-navigation{
     float:left;
     font-family:Tahoma;
     font-size:10px;
     text-align:left;
     width:700px;
     margin-bottom:5px;
 }

 #content-navigation a{
     color:#414141;
 }

 #content-navigation a:hover{
     color:#000;
     text-decoration:underline;
 }

 #category-title{
     float:left;
     font-family:Arial;
     font-size:24px;
     margin:0px;
     width:700px;
     text-align:left;
 }

 #span{
     float:left;
     height:5px;
     width:710px;
     margin:11px 0;
     background-color:#bcbcbc;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 .struktur-blok{
     float:left;
     width:710px;
     border-bottom:1px solid #c6c6c6;
 }

 .struktur-blok img{
     margin:20px 20px 20px 0;
     border:3px solid #f3f3f3;
     box-shadow: 0 0 5px #cecece;
     -moz-box-shadow: 0 0 5px #cecece;
     -webkit-box-shadow: 0 0 5px #cecece;
 }

 .struktur-blok-left{
     float:left;
     width:455px;
     padding-top:20px;
 }

 .name{
     float:left;
     margin:0;
     font-size:26px;
     font-family:Times-new-roman;
     font-weight:bold;
     width:300px;
 }

 .duty{
     float:left;
     margin:2px 0;
     font-size:14px;
     font-family:Calibri;
     color:#555;
     width:200px;
 }


 .struktur-blok-txt{
     margin:5px 0 15px;
     float:left;
     font-family:Calibri;
     font-size:15px;
 }

 .links,.links span,.icons{
     float:left;
 }



 .links{
     padding-bottom:11px;
     width: 400px;
 }

 .links img{border:0px;margin:0px;}

 .icons{
     height: 13px;
     margin-right: 11px;
     margin-top: -1px;
 }

 .links span{
     font-family: Arial;
     font-size: 12px;
     line-height: 12px;
    text-decoration: underline;
 }

 .links a{
     color: #575757;
     font-family: Arial;
     font-size: 12px;
 }

 








 /*  SOSIAL MEDIA */
 #sosial-media{
     width:510px;
     padding-left:200px;
     border-top:1px solid #c6c6c6;
 }

 #sosial-media,#f_like,#tweet_like,#google_like, #share,#f_like img,#tweet_like_left,
 #tweet_like_num,#tweet_like_right,#google_like_left,#google_like_num,
 #google_like_right{float:left;}

 #f_like{
     width:45px;
     padding:0 3px 2px 3px;
     background-color:#eceef5;
     border:1px solid #cad4e7;
     border-radius:4px;
     -moz-border-radius: 4px;
     -webkit-border-radius:4px;
 }

 #f_like img{padding:4px 3px 0 2px;}

 #f_like a{
     font-family:Tahoma;
     font-size:12px;
     color:#3b5998;
     line-height:10px;
 }

 #tweet_like{
     margin:0px 10px;
 }

 #tweet_like_left{
     background-image:url(../img/twitter-like.png);
     background-repeat:no-repeat;
     width:66px;
     height:20px;
 }

 #tweet_like_num{
     height:17px;
     margin-top:15px;
     padding:2px 4px 0 2px;
     background-color:#fff;
     border-top:1px solid #bbb;
     border-bottom:1px solid #bbb;
 }

 a #tweet_like_num {
     color:#000;
     font-size:11px;
     font-family:Arial;
 }


 #tweet_like_right{
     background-image:url(../img/twitter-like-r.png);
     background-repeat:no-repeat;
     width:2px;
     height:20px;
 }

 #google_like{

 }

 #google_like_left{
     background-image:url(../img/google+like.png);
     background-repeat:no-repeat;
     width:39px;
     height:20px;
 }

 #google_like_num{
     height:16px;
     margin-top:16px;
     padding:2px 7px 0 6px;
     background-color:#fff;
     border-top:1px solid #ccc;
     border-bottom:1px solid #ccc;
 }

 a #google_like_num {
     color:#000;
     font-size:11px;
     font-family:Arial;
 }

 #google_like_right{
     background-image:url(../img/google+like-r.png);
     background-repeat:no-repeat;
     width:2px;
     height:20px;
 }

 #share{
     background-image:url(../img/+share.png);
     background-repeat:no-repeat;
     margin-left:10px;
     width:50px;
     height:20px;
 }





 /* MIDDLE_RIGHT */

 #middle-right,#middle-right-links,#middle-right-links img,#middle-right-fb-activity,#middle-right-ireli,.middle-right-fb-activity-blok, .middle-right-fb-activity-blok-img,.middle-right-fb-activity-blok-txt,.middle-right-ireli-blok-img,#middle-right-fb-activity-footer img{float:left;}
 #middle-right{
     float:left;
     width:240px;
 }

 #middle-right-links{padding-bottom:16px;}

 #middle-right-links img{margin-right:6px;}

 /* MIDDLE_RIGHT FACEBOOK ACTIVITY */
 #middle-right-fb-activity{
     width:240px;
     background-color:#fff;
     padding:7px;
     margin-bottom:30px;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 #middle-right-fb-activity-title{
     font-family:Calibri;
     font-size:14px;
     font-weight:bold;
     margin:2px 5px 2px 5px;
     padding-bottom:7px;

     text-transform:uppercase;
 }

 #fb-border{border-top:1px solid #ccc;}



 .middle-right-fb-activity-blok{
     width:228px;
     padding:10px 7px 0px 5px;
 }

 .middle-right-fb-activity-blok-img{
     margin-right:7px;
 }

 .middle-right-fb-activity-blok-txt{
     width:185px;
     font-size:11px;
     color:#808080;
     margin:0px;
 }
 .middle-right-fb-activity-blok-txt a{
     font-size:11px;
     color:#3b5998;
 }

 .middle-right-fb-activity-blok-txt a:hover{text-decoration:underline;}

 #middle-right-fb-activity-footer{
     float:left;
     margin-top:15px;
     border-top:1px solid #ccc;
     padding: 4px 7px 0 5px;
     width: 228px;
     font-size:10px;
     color:#808080;
 }

 #middle-right-fb-activity-footer span{
     float:left;
     padding-left:5px;
 }

 /* MIDDLE_RIGHT "@IRELI" */

 #middle-right-ireli,#middle-right-ireli-head,
 #middle-right-ireli-head img, #middle-right-ireli-head span,
 #middle-right-ireli-head p,#middle-right-ireli-middle,
 #middle-right-ireli-footer,.middle-right-ireli-blok,
 middle-right-ireli-blok-img,middle-right-ireli-blok-txt
 {float:left;}

 #middle-right-ireli{
     width:254px;
     background-color:#929292;
     padding:10px 0px 5px;
     color:#fff;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 #middle-right-ireli-head{
     width:234px;
     padding-left:10px;
     margin-bottom:15px;
 }

 #middle-right-ireli-head img{padding-right: 10px;}
 #middle-right-ireli-head span{
     width:192px;
     font-size:11px;

 }
 #middle-right-ireli-head a{color:#fff;}
 #middle-right-ireli-head a p{margin:0px;font-size:16px;font-weight:bold;}



 #middle-right-ireli-middle{
     width:252px;
     margin-left:1px;
     background-color:#fff;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 .middle-right-ireli-blok{
     border-bottom:1px dotted #ddd;
     width:231px;
     color:#000;
     font-size:12px;
     padding: 5px 8px 5px 10px;
 }

 .middle-right-ireli-blok-txt{
     margin:0px;
     float:left;
     width:192px;
     padding-left:7px;

 }

 .middle-right-ireli-blok-txt a{color:#006d9c;}

 .ireli-info{float:left;}

 .ireli-info a{
     font-size:10px;
     color:#006d9c;
     font-family:Calibri;
 }

 #middle-last-blok{border:0px;}

 #middle-right-ireli-footer{
     margin-top:15px;
     width:240px;
     font-size:12px;
     padding-left:10px;
 }

 #middle-right-ireli-footer img {padding-top:2px;}

 #middle-right-ireli-footer span{float:right;}


 /* CATEGORY */
 #category-inside{
     float:left;
     width:980px;
     height:120px;
     margin:50px 0 10px;
     background-color:#fafafa;
     border-radius:70px;
     -moz-border-radius: 70px;
     -webkit-border-radius:70px;
 }

 /* CATEGORIES */
 .categories-inside {
     float:left;
     height: 104px;
     padding: 16px 0 0 24px;
     width: 285px;
     font-family:Calibri;
     background-image:url(../img/dairevi-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
 }

 .categories-inside img,.categories-inside span,.categories-inside p,#red-bottom,#red,.black-bottom,.black,#sitat{float:left; margin:0px;}

 .categories-inside img{padding-right:10px;}

 .categories-inside a{
     color:#231f20;
     font-family:Calibri;
     font-size:20px;
     font-weight:bold;
     padding-bottom:5px;
 }

 .categories-ressamliq a span{width:166px;}

 .categories-inside a:hover{
     text-decoration:underline;
     color:#da4a4a;
 }
 .categories-inside p{
     font-size:13px;
     font-weight:bold;
     padding-top:3px;
     margin:0px;
     width:154px;
     color:#727272;
 }

 #categories-last{
     float:left;
     width:315px;
     background-image:none;
 }


 /* FOOTER */
 #footer{
     float:left;
     font-family:Arial;
     font-size:12px;
     margin:20px 0px 15px 45px;
     width:969px;
     height:10px;
     padding:11px 0px 11px 21px;
     background-color:#fff;
     line-height:8px;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 #footer img{float:right;}

