 #red-bottom{
     margin-top:-1px;
 }
 .black-bottom{
     margin-top:-1px;
 }
 
 #grey-bottom{
     margin-top:-1px;
 }
 
 .mail-icon{margin-top:-1px;}
 
 #video-blok-head-archive{padding:1px 9px 4px 10px;}
 #news-blok-head-archive{padding:1px 9px 4px 10px;}
 #footer{line-height:10px;margin-bottom:15px;}
 
 #content-elaqe{filter: alpha(opacity = 90);}
 
 #menu_up ul li .submenu{top:92px;}
 
 #menu_up ul li .submenu{}