
 body {
     text-align:center;
     margin:0px;
     padding:0px;
     font-family:Arial;
     background-image:url('../img/pattern-home.jpg') ;
 }

 img{border:0px;}
 a{text-decoration:none;}


 blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(../img/dirnaqust.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
  blockquote.style1 span {
    	display: block;
    	background-image: url(../img/dirnaqalt.png);
    	background-repeat: no-repeat;
    	background-position: bottom right;
  	}


 /* MAIN */
 #main{
     margin:0 auto;
     width:1086px;
     text-align:left;
 }

 /* HEAD */
 #head{
     float:left;
     width:935px;
     height:89px;
     padding:31px 0px 0px;
     margin-top:18px;
     margin-left:4px;
     background-color:#fafafa;
 }

 /* HEAD-BG */
 #head-bg{
     float:left;
     width:147px;
     height:120px;
     margin-top:18px;
     background-image:url('../img/head-bg.png');
     background-repeat:no-repeat;
     background-position:center;
 }

 /* LOGO */
 #logo{
     float:left;
     width:160px;
     height:57px;
     margin-left:45px;
     margin-right:135px;
     background-image:url(../img/logo.png);
     background-repeat:no-repeat;
 }

 /* HOME */
 #home{
     float:left;
     width:42px;
     height:42px;
     margin-top:6px;
     overflow:hidden;
 }

 #home:hover img{
     margin-top:-42px;
 }


 /* MENU_UP */
 #menu_up{
     float:left;
     margin-top:7px;
     margin-left:10px;
 }

 ul{
     margin:0px;
     padding:0px;
 }

 #menu_up ul li{
     float:left;
     list-style:none;
     padding: 0 2px;
     background-image:url(../img/menu-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;

 }

 #menu_up #menu-last{background-image:none;}

 #menu_up ul li:hover{
     color:#fff;
     background-color:#da4a4a;

 }

 #menu_up ul li:hover a{color:#fff;}

 #menu_up ul li a{
     padding:11px 13px 7px 13px;
     text-decoration:none;
     color:#231f20;
     font-family:Arial;
     display:block;
 }

 #menu_up ul li a:hover{color:#fff;}

 #menu_up ul li .submenu{
     display:none;
     position:absolute;
     top: 93px;
     height:32px;
     width:378px;
     background-color:#da4a4a;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #menu_up ul li .submenu li{float:left;}

 #menu_up ul li .submenu li a{
     font-family:Tahoma;
     font-size:11px;
     padding:11px 6px 7px 8px;
 }

 #menu_up ul li .submenu li a:hover{text-decoration:underline;}


 #menu_up li:hover .submenu {
     display:block;
 }

 /*  DIL  */
 #lang {
     float:left;
     width:40px;
     height: 16px;
     overflow:hidden;
     margin-top: 47px;
     margin-left: -10px;
     padding: 4px 10px 3px;
     background-color:#a7a7a7;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #select-lang{
     float:left;
     width:10px;
     height:11px;
     display:block;
     cursor:pointer;
     background-image:url(../img/lang-select.png);
     background-repeat:no-repeat;
     background-position:center;
 }

 #lang ul{width:30px;float:left;}

 #lang ul li{
     list-style:none;
 }

 #lang ul li a{
     text-decoration:none;
     color:#f0f0f0;
     text-transform:uppercase;
     font-family:Arial;
     font-size:12px;
     margin-top:0px;
     display:block;
     line-height:16px;
 }

 #lang ul li a:hover{
     color:#fff;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 /* SLIDER */

 /* SLIDER-LEFT */
 #slider-left{
     float:left;
     width:132px;
     height:332px;
     margin-top:-1px;
     background-image:url(../img/slider-left-bg.png);
     background-repeat:no-repeat;
 }

 #slider-left span{display:block;}
 #slider-right span{display:block;}

 #slider-left a{
     float:left;
     width:21px;
     cursor:pointer;
     height:111px;
     margin: 96px 0 0 70px;
     line-height: 150px;
     padding-right: 21px;
     background-image:url(../img/navi-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
 }

 #slider-left a img{


 }

 #slider{
     float:left;
     width:787px;
     height:267px;
     margin-top:15px;
     padding-top:27px;
     overflow:hidden;
     background-color:#fafafa;
 }

 #sliderr{
     float:left;
     position:relative;
     width:2000px;
 }

 .slide-img{float:left;}

 .slide-img img{
     float:left;
     width:350px;
     height:240px;
     border-radius:18px;
     -moz-border-radius: 18px;
     -webkit-border-radius:18px;
 }

 .slide-content{
     float:left;
     width:370px;
     padding-left:30px;
 }

 .slide-date{
     float:left;
     font-size:12px;
     color:#fff;
     padding:4px 10px;
     background-color:#8e8e8e;
     border-radius:18px;
     -moz-border-radius: 18px;
     -webkit-border-radius:18px;
 }

 .slide-content h4{
     float:left;
     margin-bottom:10px;
 }

 .slide-txt{
     margin:0px;
     float:left;
     font-size:11px;
     font-family:Verdana;
 }

 .numeration{
     float:left;
 }

 .numeration a{
     text-decoration:none;
     text-align:center;
     color:#fff;
     float:left;
     width:20px;
     height:20px;
     display:block;
     margin-right:5px;
     font-family:Georgia;
     font-size: 12px;
     line-height: 16px;
     background-color:#8e8e8e;
     border-radius:18px;
     -moz-border-radius: 18px;
     -webkit-border-radius:18px;
 }

 .numeration a:hover{background-color:#da4a4a;}

 a.num-s{background-color:#da4a4a;}


 /* SLIDER_RIGHT */
 #slider-right{
     float:left;
     width:167px;
     height:294px;
     margin-top:-1px;
     margin-top:15px;
     position:absolute;
     top:139px;
     left:1048px;
     z-index:1;
     background-image:url(../img/slider-right-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
 }

 #slider-right a{
     float:left;
     width:21px;
     height:111px;
     cursor:pointer;
     line-height: 150px;
     margin: 96px 0 0 14px;
     padding-left: 21px;
     background-image:url(../img/navi-bg.png);
     background-repeat:no-repeat;
     background-position:center left;
 }

 /* CATEGORY */
 #category{
     float:left;
     width:1082px;
     height:120px;
     margin-left:4px;
     background-image:url(../img/category-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
 }

 /* CATEGORIES */
 .categories{
     float:left;
     background-color:#fafafa;
     height: 104px;
     padding: 16px 0 0 36px;
     width: 275px;
     font-family:Calibri;
     background-image:url(../img/dairevi-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
 }

 .categories img,.categories span,.categories p,#red-bottom,#red,.black-bottom,.black,#sitat{float:left; margin:0px;}

 .categories img{padding-right:15px;}

 .categories a{
     color:#231f20;
     font-family:Calibri;
     font-size:20px;
     font-weight:bold;
     padding-bottom:5px;
 }

 .categories a:hover{
     text-decoration:underline;
     color:#da4a4a;
 }
 .categories p{
     font-size:13px;
     font-weight:bold;
     padding-top:3px;
     margin:0px;
     width:154px;
     color:#727272;
 }

 #categories-last{
     float:left;
     background-image:none;
 }



 /* MIDDLE */
 #middle{
     float:left;
     margin-left:48px;
     margin-top:42px;
     width:991px;
 }

 /* MIDDLE_LEFT */

 #middle-left,#middle-left-1,#middle-left-1-name,#middle-left-1 span,#sitat,#sitat p,#sitat span{float:left;}

 #middle-left{
     width:235px;
     margin-right:31px;
 }

 #middle-left-1{
     width:235px;
 }

 #red{
     margin-right:47px;
     padding:3px 10px 5px;
     text-transform:uppercase;
     width:178px;
     color:#eaeaea;
     background-color:#da4a4a;
     font-size:15px;
     font-family:Calibri,Arial;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 #red-bottom{
     width:196px;
     height:4px;
     background-image:url('../img/red-bottom.png');
     background-repeat:no-repeat;
     background-position:center left;
 }

 #middle-left-1-name{
     margin:10px 0px 0px;
     padding-left:10px;
 }

 a #middle-left-1-name{
     font-size:17px;
     font-weight:bold;
     font-family:Tahoma;
     color:#000;
 }

 a:hover #middle-left-1-name {text-decoration:underline;}

 #middle-left-1 span{
     padding-left:10px;
     font-size:11px;
     font-weight:bold;
     font-family:Tahoma;
 }

 #sitat{
     padding-left:10px;
     width:235px;
     padding-top:10px;
 }

 #sitat span{
     margin:0px;
     width:205px;
     padding-left:0px;
     font-style:italic;
     font-family:Arial;
     font-size:12px;
     font-weight:normal;
 }


 #middle-left-2{
     float:left;
 }

 .black{
     margin-right:47px;
     margin-top:20px;
     padding: 3px 13px 5px;
     text-transform: uppercase;
     width: 94px;
     color:#eaeaea;
     background-color:#000;
     font-size:15px;
     font-family:Calibri,Arial;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 .black-bottom{
     width:196px;
     height:4px;
     background-image:url('../img/black-bottom.png');
     background-repeat:no-repeat;
     background-position:center left;
 }



 .blok{
     float:left;
     width:225px;
     padding:15px 0px 15px 10px;
     border-bottom:1px dashed #fff;
 }

 .organizer-img{
     float:left;
     margin-right:15px;
 }

 #last-blok{border:0px;}

 .organizer-name{
     float:left;
     margin:5px 0 0 0;
     font-size:16px;
     font-family:Times-new-roman;
     font-weight:bold;
     width:126px;
 }

 .organizer-duty{
     float:left;
     margin-top:2px;
     font-size:13px;
     font-family:Calibri;
     color:#555;
     width:140px;
 }

 .mail-icon{float:left; margin-right: 5px;height:13px;margin-top:-2px;}
 .mail-icon img{height:13px;width:15px;}

 .blok a{
     float:left;
     color:#555;
     font-size:12px;
     text-decoration:underline;
     font-family:Arial;
 }

 .blok a:hover{text-decoration:none;}

 #middle-left-3{
     float:left;
 }

 #support{
     float:left;
     height:40px;
     width:225px;
     margin:15px 15px 15px 10px;
 }

 #support-img-1{
     float:left;
     margin:0px 11px 5px 0;
 }

 #support-img-2{
     float:left;
     margin:5px 11px 5px 0;
 }

 #support-img-3{
     float:left;
     margin:8px 10px 5px 0;
 }

 /* MIDDLE_CONTENT */
 #middle-content{
     float:left;
     width:415px;
     padding:0 15px 10px 15px;
     margin-right:40px;
 }

 #video-blok,#video-blok-head,#video-blok-head-title,#video-blok-content,#video-blok-content-title,#video-blok-content-txt,#video-blok-content img{
     float:left;
 }

 /* MIDDLE_CONTENT-NEWS BLOK */

 #video-blok{
     width:415px;
     padding:0 15px 15px 15px;
     margin-bottom:30px;
     background-color:#f3f3f3;
     border-radius:18px;
     -moz-border-radius: 18px;
     -webkit-border-radius:18px;
 }

 #video-blok-head{
     width:415px;
     border-bottom:1px solid #d9d9d9;
 }

 #video-blok-head-title{
     font-family:Calibri;
     font-size:14px;
     margin-bottom:0px;
     text-transform:uppercase;
     font-weight:bold;
 }

 #video-blok-head-archive{
     float:right;
     background-color:#8e8e8e;
     padding:2px 8px 3px 10px;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 #video-blok-head a {
     color:#dcdcdc;
     font-family:Tahoma;
     font-size:11px;
 }

 a:hover #video-blok-head-archive {color:#fff;}

 #video-blok-content{
     margin-top:15px;
 }

 #video-blok-content img{ padding-right:15px;}

 #video-blok-content-title{
     width:140px;
     font-size:16px;
     font-family:Arial;
     font-weight:bold;
     margin:0px;
 }

 #video-blok-content a{color:#000;}
 #video-blok-content a:hover p{text-decoration:underline;}

 #video-blok-content-txt{
     width:160px;
     margin-top:5px;
     font-size:12px;
     font-family:Arial;
 }

 #news-blok,#news-blok-head,#news-blok-head-title,#news-blok-content,#news-blok-content-title,#news-blok-content-txt,#news-blok-content img,.news-blok-content-date{
     float:left;
 }

 /* MIDDLE_CONTENT-NEWS BLOK */
 #news-blok{
     width:415px;
     padding:0 15px 15px 15px;
     background-color:#f3f3f3;
     border-radius:18px;
     -moz-border-radius: 18px;
     -webkit-border-radius:18px;
 }

 #news-blok-head{
     width:415px;
 }

 #news-blok-head-title{
     font-family:Calibri;
     font-size:14px;
     margin-bottom:0px;
     text-transform:uppercase;
     font-weight:bold;
 }

 #news-blok-head-archive{
     float:right;
     background-color:#8e8e8e;
     padding:2px 8px 3px 10px;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 #news-blok-head a {
     color:#dcdcdc;
     font-family:Tahoma;
     font-size:11px;
 }

 a:hover #news-blok-head-archive {color:#fff;}

 #news-blok-content{
     padding-top:15px;
     padding-bottom:12px;
     border-top:1px solid #d9d9d9;
 }

 #news-blok-content img{ padding-right:15px;}

 #news-blok-content-title{
     width:290px;
     font-size:16px;
     font-family:Arial;
     font-weight:bold;
     margin:0px;
 }

 #news-blok-content a{color:#000;}
 #news-blok-content a:hover p{text-decoration:underline;}

 #news-blok-content-txt{
     width:270px;
     margin-top:5px;
     margin-bottom:7px;
     font-size:12px;
     font-family:Arial;
 }

 .news-blok-content-date{
     font-size:11px;
     font-family:Arial;
     color:#000;
     padding:3px 8px;
     margin:0px;
     background-color:#fff;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 /* MIDDLE_RIGHT */

 #middle-right,#middle-right-links,#middle-right-links img,#middle-right-fb-activity,#middle-right-ireli,.middle-right-fb-activity-blok, .middle-right-fb-activity-blok-img,.middle-right-fb-activity-blok-txt,.middle-right-ireli-blok-img,#middle-right-fb-activity-footer img{float:left;}
 #middle-right{
     float:left;
     width:240px;
 }

 #middle-right-links{padding-bottom:16px;}

 #middle-right-links img{margin-right:6px;}

 /* MIDDLE_RIGHT FACEBOOK ACTIVITY */
 #middle-right-fb-activity{
     width:240px;
     background-color:#fff;
     padding:7px;
     margin-bottom:30px;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 #middle-right-fb-activity-title{
     font-family:Calibri;
     font-size:14px;
     font-weight:bold;
     margin:2px 5px 2px 5px;
     padding-bottom:7px;

     text-transform:uppercase;
 }

 #fb-border{border-top:1px solid #ccc;}



 .middle-right-fb-activity-blok{
     width:228px;
     padding:10px 7px 0px 5px;
 }

 .middle-right-fb-activity-blok-img{
     margin-right:7px;
 }

 .middle-right-fb-activity-blok-txt{
     width:185px;
     font-size:11px;
     color:#808080;
     margin:0px;
 }
 .middle-right-fb-activity-blok-txt a{
     font-size:11px;
     color:#3b5998;
 }

 .middle-right-fb-activity-blok-txt a:hover{text-decoration:underline;}

 #middle-right-fb-activity-footer{
     float:left;
     margin-top:15px;
     border-top:1px solid #ccc;
     padding: 4px 7px 0 5px;
     width: 228px;
     font-size:10px;
     color:#808080;
 }

 #middle-right-fb-activity-footer span{
     float:left;
     padding-left:5px;
 }

 /* MIDDLE_RIGHT "@IRELI" */

 #middle-right-ireli,#middle-right-ireli-head,
 #middle-right-ireli-head img, #middle-right-ireli-head span,
 #middle-right-ireli-head p,#middle-right-ireli-middle,
 #middle-right-ireli-footer,.middle-right-ireli-blok,
 middle-right-ireli-blok-img,middle-right-ireli-blok-txt
 {float:left;}

 #middle-right-ireli{
     width:254px;
     background-color:#929292;
     padding:10px 0px 5px;
     color:#fff;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 #middle-right-ireli-head{
     width:234px;
     padding-left:10px;
     margin-bottom:15px;
 }

 #middle-right-ireli-head img{padding-right: 10px;}
 #middle-right-ireli-head span{
     width:192px;
     font-size:11px;

 }
 #middle-right-ireli-head a{color:#fff;}
 #middle-right-ireli-head a p{margin:0px;font-size:16px;font-weight:bold;}



 #middle-right-ireli-middle{
     width:252px;
     margin-left:1px;
     background-color:#fff;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 .middle-right-ireli-blok{
     border-bottom:1px dotted #ddd;
     width:231px;
     color:#000;
     font-size:12px;
     padding: 5px 8px 5px 10px;
 }

 .middle-right-ireli-blok-txt{
     margin:0px;
     float:left;
     width:192px;
     padding-left:7px;

 }

 .middle-right-ireli-blok-txt a{color:#006d9c;}

 .ireli-info{float:left;}

 .ireli-info a{
     font-size:10px;
     color:#006d9c;
     font-family:Calibri;
 }

 #middle-last-blok{border:0px;}

 #middle-right-ireli-footer{
     margin-top:15px;
     width:240px;
     font-size:12px;
     padding-left:10px;
 }

 #middle-right-ireli-footer img {padding-top:2px;}

 #middle-right-ireli-footer span{float:right;}

 /* FOOTER */
 #footer{
     float:left;
     font-family:Arial;
     font-size:12px;
     margin:20px 0px 15px 45px;
     width:987px;
     height:10px;
     padding:11px 0px 11px 21px;
     background-color:#fff;
     line-height:8px;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 #footer img{float:right;}

