
 body {
     margin:0px;
     padding:0px;
     font-family:Arial;
     background-image:url('../img/pattern-inside.jpg') ;
 }

 img{border:0px;}
 a{text-decoration:none;}


 /* MAIN */
 #main{
     margin:0 auto;
     width:1086px;
     text-align:left;
 }

 /* HEAD */
 #head-yenilik{
     float:left;
     width:1082px;
     height:57px;
     padding:31px 0px 32px;
     margin:18px 0 25px 0px;
     background-color:#fafafa;
     border-radius:70px;
     -moz-border-radius: 70px;
     -webkit-border-radius:70px;
 }

 /* LOGO */
 #logo{
     float:left;
     width:160px;
     height:57px;
     margin-left:45px;
     margin-right:135px;
     background-image:url(../img/logo.png);
     background-repeat:no-repeat;
 }

 /* HOME */
 #home{
     float:left;
     width:42px;
     height:42px;
     margin-top:6px;
     overflow:hidden;
     /*display:block;*/
 }

 #home:hover img{
     margin-top:-42px;
 }


  /* MENU_UP */
 #menu_up{
     float:left;
     margin-top:7px;
     margin-left:10px;
 }

 ul{
     margin:0px;
     padding:0px;
 }

 #menu_up ul li{
     float:left;
     list-style:none;
     padding: 0 2px;
     background-image:url(../img/menu-bg.png);
     background-repeat:no-repeat;
     background-position:center right;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;

 }

 #menu_up #menu-last{background-image:none;}

 #menu_up ul li:hover{
     color:#fff;
     background-color:#da4a4a;

 }

  #menu_up ul li:hover a{color:#fff;}


 #menu_up ul li a{
     padding:11px 13px 7px 13px;
     text-decoration:none;
     color:#231f20;
     font-family:Arial;
     display:block;
 }

 #menu_up ul li a:hover{color:#fff;display:block;}

 #menu_up ul li .submenu{
     float:left;
     display:none;
     position:absolute;
     top: 93px;
     background-color:#da4a4a;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #menu_up ul li .submenu li{float:left;}

 #menu_up ul li .submenu li a{
     font-family:Tahoma;
     font-size:11px;
     color:#fff;
     padding:11px 6px 7px 8px;
 }

 #menu_up ul li ul li a:hover{text-decoration:underline;display:block;}
 #menu_up ul li ul li:hover{display:block;}


 #menu_up li:hover .submenu {
     display:block;
 }


 /*  DIL  */
 #lang {
     float:left;
     width:40px;
     height: 16px;
     overflow:hidden;
     margin-left: 75px;
     margin-top: 17px;
     padding: 4px 10px 3px;
     background-color:#a7a7a7;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }

 #select-lang{
     float:left;
     width:10px;
     height:11px;
     display:block;
     cursor:pointer;
     background-image:url(../img/lang-select.png);
     background-repeat:no-repeat;
     background-position:center;
 }

 #lang ul{width:30px;float:left;}

 #lang ul li{
     list-style:none;
 }

 #lang ul li a{
     text-decoration:none;
     text-align:left;
     color:#f0f0f0;
     text-transform:uppercase;
     font-family:Arial;
     font-size:12px;
     margin-top:0px;
     display:block;
     line-height:16px;
 }

 #lang ul li a:hover{
     color:#fff;
     border-radius:12px;
     -moz-border-radius: 12px;
     -webkit-border-radius:12px;
 }







 /* MIDDLE */
 #middle-yenilik{
     float:left;
     margin-left:48px;
     margin-top:0px;
     width:980px;
 }


 #content-yenilik,#content-yenilik img{float:left;}

 /* MIDDLE_CONTENT */
 #content-yenilik{
     width:710px;
     padding-bottom:20px;
     color:#383838;
     margin-right:30px;
 }

 #content-navigation{
     float:left;
     font-family:Tahoma;
     font-size:10px;
     text-align:left;
     width:700px;
     margin-bottom:5px;
 }

 #content-navigation a{
     color:#414141;
 }

 #content-navigation a:hover{
     color:#000;
     text-decoration:underline;
 }

 #category-title{
     float:left;
     font-family:Arial;
     font-size:24px;
     margin:0px;
     width:700px;
     text-align:left;
 }

 #span{
     float:left;
     height:5px;
     width:710px;
     margin:11px 0;
     background-color:#bcbcbc;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 .yenilikler{
     float:left;
     margin-top: 20px;
     border-bottom:1px solid #bcbcbc;

 }


 #content-yenilik img{
     margin:0px 20px 20px 0;
     border-radius:18px;
     -moz-border-radius: 18px;
     -webkit-border-radius:18px;
 }

 .yenilik-date{
     float:left;
     margin:0px;
     padding:3px 8px;
     font-family:Arial;
     font-size:11px;
     background-color:#fff;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }


 .yenilikler a p{
     width:400px;
     float:left;
     color:#000;
     margin:8px 0 8px 0;
     font-size:21px;
 }

 .content-yenilik-txt{
     width:400px;
     float:left;
     margin:0px;
     font-size:14px;
     font-family:Arial;
 }





 /* SEHIFELEME  */

 #pages{
     float:left;
     margin-top:20px;
     margin-left:210px;
 }

#pages a p{
     text-decoration:underline;
     font-family:Calibri;
     font-size:13px;
     font-weight:bold;
     color:#000;
     margin:0px;
     }

 #prev-page{
     padding:0 10px 0 20px;
     float:left;
     background-image:url(../img/prev-page.png);
     background-repeat:no-repeat;
     background-position:center left;
 }

 #next-page{
     padding:0 20px 0 10px;
     float:left;
     background-image:url(../img/next-page.png);
     background-repeat:no-repeat;
     background-position:center right;
 }

 .numeration{float:left;}

.numeration a{
     text-decoration:none;
     text-align:center;
     color:#fff;
     float:left;
     width:20px;
     height:20px;
     display:block;
     margin-right:5px;
     font-family:Georgia;
     font-size: 12px;
     line-height: 16px;
     background-color:#8e8e8e;
     border-radius:18px;
     -moz-border-radius: 18px;
     -webkit-border-radius:18px;
 }

 .numeration a:hover{background-color:#da4a4a;}

 a.num-s{background-color:#da4a4a;}


 /* MIDDLE_RIGHT */

 #middle-right,#middle-right-links,#middle-right-links img,#middle-right-fb-activity,#middle-right-ireli,.middle-right-fb-activity-blok, .middle-right-fb-activity-blok-img,.middle-right-fb-activity-blok-txt,.middle-right-ireli-blok-img,#middle-right-fb-activity-footer img{float:left;}
 #middle-right{
     float:left;
     width:240px;
 }

 #middle-right-links{padding-bottom:16px;}

 #middle-right-links img{margin-right:6px;}

 /* MIDDLE_RIGHT FACEBOOK ACTIVITY */
 #middle-right-fb-activity{
     width:240px;
     background-color:#fff;
     padding:7px;
     margin-bottom:30px;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 #middle-right-fb-activity-title{
     font-family:Calibri;
     font-size:14px;
     font-weight:bold;
     margin:2px 5px 2px 5px;
     padding-bottom:7px;

     text-transform:uppercase;
 }

 #fb-border{border-top:1px solid #ccc;}



 .middle-right-fb-activity-blok{
     width:228px;
     padding:10px 7px 0px 5px;
 }

 .middle-right-fb-activity-blok-img{
     margin-right:7px;
 }

 .middle-right-fb-activity-blok-txt{
     width:185px;
     font-size:11px;
     color:#808080;
     margin:0px;
 }
 .middle-right-fb-activity-blok-txt a{
     font-size:11px;
     color:#3b5998;
 }

 .middle-right-fb-activity-blok-txt a:hover{text-decoration:underline;}

 #middle-right-fb-activity-footer{
     float:left;
     margin-top:15px;
     border-top:1px solid #ccc;
     padding: 4px 7px 0 5px;
     width: 228px;
     font-size:10px;
     color:#808080;
 }

 #middle-right-fb-activity-footer span{
     float:left;
     padding-left:5px;
 }

 /* MIDDLE_RIGHT "@IRELI" */

 #middle-right-ireli,#middle-right-ireli-head,
 #middle-right-ireli-head img, #middle-right-ireli-head span,
 #middle-right-ireli-head p,#middle-right-ireli-middle,
 #middle-right-ireli-footer,.middle-right-ireli-blok,
 middle-right-ireli-blok-img,middle-right-ireli-blok-txt
 {float:left;}

 #middle-right-ireli{
     width:254px;
     background-color:#929292;
     padding:10px 0px 5px;
     color:#fff;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 #middle-right-ireli-head{
     width:234px;
     padding-left:10px;
     margin-bottom:15px;
 }

 #middle-right-ireli-head img{padding-right: 10px;}
 #middle-right-ireli-head span{
     width:192px;
     font-size:11px;

 }
 #middle-right-ireli-head a{color:#fff;}
 #middle-right-ireli-head a p{margin:0px;font-size:16px;font-weight:bold;}



 #middle-right-ireli-middle{
     width:252px;
     margin-left:1px;
     background-color:#fff;
     border-radius:10px;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
 }

 .middle-right-ireli-blok{
     border-bottom:1px dotted #ddd;
     width:231px;
     color:#000;
     font-size:12px;
     padding: 5px 8px 5px 10px;
 }

 .middle-right-ireli-blok-txt{
     margin:0px;
     float:left;
     width:192px;
     padding-left:7px;

 }

 .middle-right-ireli-blok-txt a{color:#006d9c;}

 .ireli-info{float:left;}

 .ireli-info a{
     font-size:10px;
     color:#006d9c;
     font-family:Calibri;
 }

 #middle-last-blok{border:0px;}

 #middle-right-ireli-footer{
     margin-top:15px;
     width:240px;
     font-size:12px;
     padding-left:10px;
 }

 #middle-right-ireli-footer img {padding-top:2px;}

 #middle-right-ireli-footer span{float:right;}



 

 /* FOOTER */
 #footer{
     float:left;
     font-family:Arial;
     font-size:12px;
     margin:20px 0px 15px 52px;
     width:969px;
     height:10px;
     padding:11px 0px 11px 21px;
     background-color:#fff;
     line-height:8px;
     border-radius:15px;
     -moz-border-radius: 15px;
     -webkit-border-radius:15px;
 }

 #footer img{float:right;}

